<div>
    <ul class="sidebar-ul">
      <li><%= link_to 'My-Profile', pages_my_profile_path %></li>
    </ul>
</div>









<!-- <ul class="nav flex-column">
  <li class="nav-item active">
    <%= link_to 'Profile', pages_my_profile_path %>
  </li>
    <li class="nav-item nav-indent">
      <a  href="#">Link</a>
    </li>
    <li class="nav-item nav-indent">
      <a  href="#">Disabled</a>
    </li>
</ul>
 -->

<!-- Drop down function ============================= -->

<!-- <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li> -->