 @import "bootstrap";

#user_avatar_div {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-size: cover;
}

.avatar_dropdown {
  margin: 10px;
}

.sidebar-card {
  margin-top: 25px;
  min-height: 400px;
}

.sidebar-ul {
  list-style-type: none;
  padding-left: 0px;
}

.sidebar-ul li {
  margin-left: 0px;
}

.profile-pic img {
  float: right;
}

.label-span {
  font-size: 1.2em;
  font-weight: 600;
}






